<!DOCTYPE html>
<html lang="{{ Culture.Name}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{% page_title Site.SiteName %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../TheDoItMyselfTheme/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="TheDoItMyselfTheme/css/styles.css" rel="stylesheet" />
        {% render_section "HeadMeta", required: false %}
        {% resources type: "HeadScript" %}
        {% resources type: "HeadLink" %}
        {% resources type: "Stylesheet" %}
        {% render_section "HeadMeta", required: false %}
    </head>
    <body dir="{{ Culture.Dir }}" class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">SMP Engineering</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_tag: "alias:main-menu" %}
                </div>
            </nav>

        {% render_section "Header", required: false %}
	    {% render_section "Messages", required: false %}
        {% render_section "Content" %}
        {% render_section "Footer", required: false %}
        {% resources type: "FootScript" %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
